.main{
    display:flex;
    border:1px solid black;
    
}

.sidebar{
    flex:3;
    padding-left: 20px;
    display: flex;
    flex-direction: column;

}

.content{
    flex:7;
}

